{% extends 'base.html' %}

{% block head %}
    <title>Neb.cx URL Shortener</title>
<link rel="icon" 
      type="image/png" 
      href="https://raw.githubusercontent.com/CheesyBC/barbados/master/favicon.ico">
{% endblock %}

{% block body %}
<div class="jumbotron w-100 mx-center text-center">
    <h1 class="display-4">NebulaBC URL shortener</h1>
    <p class="lead">The link shortener for <a href="https://nebulabc.net" target="_new">NebulaBC.net</a>.
    </br><a href="https://p.neb.cx" target="_new">Neb.cx Hastebin</a></p>
</div>
{% endblock %}
