{% extends 'base.html' %}

{% block head %}
    <title>Neb.cx URL Shortener</title>
{% endblock %}

{% block body %}
<div class="jumbotron w-100 mx-center text-center">
    <h1 class="display-4">NebulaBC URL shortener</h1>
    <p class="lead">The link shortener for <a href="https://nebulabc.net" target="_new">NebulaBC.net</a>.
    </br><a href="https://p.neb.cx" target="_new">Neb.cx Hastebin</a></p>
    </br><a href="https://n.neb.cx" target="_new">Neb.cx File Upload (Contact for login)</a></p>
</div>
{% endblock %}
